#sociais {
    text-align: center;
    font-family: Tahoma;
    font-size: 25px;
}
h1 {
    color: orange;
}
#menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:110% Tahoma;

}
#menu ul li { display: inline; }
#menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    width: 25%;
    float:left;
    text-align: center;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
@media only screen and (max-width: 600px){
    #sociais{
        display: none; 
    }
}