#sociais {
    text-align: center;
    font-family: Tahoma;
    font-size: 25px;
}
h1 {
    color: orange;
    font-family: Georgia, serif;
    text-align: center;
}
#menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:110% Tahoma;

}
#menu ul li { display: inline; }
#menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    width: 25%;
    float:left;
    text-align: center;
}

.carousel-inner > .item > img {
    min-width: 100%;
    height: 400px; 
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
h4 {
    color: black;
    text-align: center;
    width:200px;
    height: 36px;
    border: 2px solid; 
    border-color: black;   
    background: #D8D8D8;
}
h5{
    text-align: center;
    font-weight: bold;
}
.sla{
    color: black;
    text-align: center;
    width: 200px;
    height: 26px;
    border: 2px solid; 
    border-color: black;   
    background: #ffa448;
    border-radius: 30px;
}
span{
    color: grey;
}
.linha{
    border: 3px;
}
.propaganda{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
}
h6{
    text-align: justify;
    font-weight: bold;
}
.imagem{
    width: 254px;
    height: 500px;
}
#rodape {
    background: gray;
}

footer{
    background:#c4c4c4; 
}
.promocao{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
}
@media only screen and (max-width: 600px){
    #sociais{
        display: none; 
    }
}










