<html lang="en">
    <head>
        <title>Conheça Nosso Espaço</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="../cinema.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 lt text-center">
                    <h1><i class="fas fa-film" style="color: black;"></i>   CineDark</h1>
                </div>
                <div class="col-md-3 pt-3" id="sociais">
                    <h5>Siga nos nas redes sociais</h5>
                    <a target="_blank" href="https://pt-br.facebook.com/"><i class="fab fa-facebook-square" style='font-size: 30px; color: black;' ></i></a>
                    <a target="_blank" href="https://www.instagram.com/?hl=pt-br"><i class="fab fa-instagram" style='font-size: 30px; color: black;' ></i></a>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <div id="menu">
                      <ul>
                            <li><a href="PaginaInicial.html">Página Inicial</a></li>
                            <li>< <a href="Promocoes.html">Promoções</a></li>
                            <li><a href="ConhecaEspaco.html">Conheça nosso espaço</a></li>
                            <li><a href="FaleConosco.html">Fale Conosco</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br><br>
            <h1>Nosso Espaço</h1>
            <div class="row">
                <div class="espaco col-md-6">
                    <img src="../../uploads/img58486f05dabe8.jpg" alt="" style="height: 500px;width: 500px;"/>
                </div>
                <div class="col-md-6"><br>
                    <p>  O Cinema CineDark localizado em São Miguel do Oeste, foi pensado com o objetivo de promover o entretenimento 
                        e a cultura. Traz uma estrutura confortável e moderna, que conta com duas salas, uma com 150 lugares 
                        e a outra com 130, sendo 3D, totalizando 270 lugares, ambas com lugares reservados para pessoas obesas 
                        e cadeirantes. Equipado com ar condicionado, som Dolby Stereo e bomboniére.<br><br>
                        O CineDark oferece aos seus clientes muito mais do que filmes, mas experiências extraordinárias
                        durante seus momentos de lazer, com paixão em transmitir o melhor conteúdo cinematográfico ao público, 
                        usufruindo da melhor tecnologia e qualidade de som e imagem.<br><br>
                        <b>Localizada na Rua Tiradentes, N° 2475 Perto da Dielo Alimentos 
                            <br>Telefone: (49) 3421.1256</b></p>
                </div>
            </div>
            <br><br>


            <hr>
            <footer class="page-footer font-small blue pt-4">
                <div class="container-fluid text-center text-md-left">
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p> * A programação é atualizada semanalmente.<br>
                            <p></p>
                            * Segundas e sextas-feiras, menos feriados, todos pagam meio ingresso.<br>
                            <p></p>
                            * Menores de 18 anos e estudantes têm direito a meia entrada, apresentando identidade e carteira de estudante, com foto e validade.<br>
                            <p></p>
                            * Menores de idade da classificação indicativa podem assistir ao filme, apresentando autorização assinada pelos pais ou responsável.<br>
                            <br>
                        </div>
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-6 mb-md-0 mb-3">
                            <h5 class="text-uppercase">Siga nossas redes sociais</h5>
                            <ul class="list-unstyled text-center" >
                                <a target="_blank" href="https://pt-br.facebook.com/"><i class="fab fa-facebook-square" style='font-size: 30px; color: black;' ></i></a>
                                <a target="_blank" href="https://www.instagram.com/?hl=pt-br"><i class="fab fa-instagram" style='font-size: 30px; color: black;' ></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center py-3">© Todos os Direitos Reservados - 2019</div>
            </footer>       
        </div>
    </body>
</html>