<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Carosel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="../cinema.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Filmes em Cartaz</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../uploads/toy_story_4_topo-compressed.jpg" class="d-block w-100" height="440px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../uploads/aladdin02.jpg" class="d-block w-100" height="440px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../uploads/x-men2.jpg" class="d-block w-100" height="440px" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br><br><hr>
        <div class="propaganda">
            <img src="../../uploads/nike-arrisquetudo-quemganhafica1_free_big.jpg" alt=""/>
        </div><br><br>
        <div class="container">
            <h1>Em breve</h1><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/mini-1-290x430-5ce48902e3981.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">Brightburn</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/mini-15-5ca73bbc3b0fa.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">O Rei Leão</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/mini-5c9a14c334380.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">Brinquedo Assassino</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/mini-5-290x430-5ce48745cbe7b.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">Homem-Aranha Longe de Casa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/Predadores Assassinos.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">Predadores Assassinos</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/Ford vs Ferrari.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">Ford vs Ferrari</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/mini-5c9a14c334380.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">Brinquedo Assassino</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-deck">
                        <div class="card">
                            <img src="../../uploads/mini-5-290x430-5ce48745cbe7b.jpg" alt=""/>
                            <div class="card-body">
                                <h4 class="card-title"> Em breve</h4>
                                <h3 class="card-text">Homem-Aranha Longe de Casa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>  <br><br><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="box-valores">
                        <div class="valor">
                            <div><b>INGRESSO 2D</b>
                                <br>
                                <h5>R$ 16,00</h5>
                                <h5>R$ 7,00</h5>
                                <span class="meia-entrada">(Meia entrada)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="valor">
                        <div><b>INGRESSO 3D</b>
                            <h5>R$ 25,00</h5> 
                            <h5>R$ 14,00</h5>
                            <span class="meia-entrada">(Meia entrada)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
